h1 {
    color: #225A98;
    text-shadow: 8px 8px 2px #D9EAFD;
    font-size: 121px;
    text-align: center;
    margin: 150px;
    padding: 5px;
}
body{
    margin: 0px;
    height: 100vh;
    background: linear-gradient(to bottom, #FBFCFD, #D9EAFD);
}
.login{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin:L= 100px;
}
input.in{
    width: 500px;
    height: 60px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #F3F9FF;
    padding-left: 10px;
    outline: none;
    border: 0;
}

.input_label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 500px; 
    padding-left: 10px;
    margin-bottom: 5px; 
}
