h1 {
    color: #225A98;
    text-shadow: 4px 4px 2px #D9EAFD;
    font-size: 96px;
    text-align: center;
}
body{
    margin: 0px;
    height: 100vh;
    background: linear-gradient(to bottom, #FBFCFD, #D9EAFD);
    
    
}
a.login-btn{
    display: block;
    background-color: #225A98;
    color: #F8FAFC;
    width: 300px;
    height: 60px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}
.login-btn:hover{
    background-color: #F8FAFC;
    color: #225A98;
}