body{
    background-color: #F8FAFC;
}
h1{
    position: fixed;
    top: -10px;
    left: 10px;
    font-size: 26px;
    font-weight: bolder;
    -webkit-text-stroke: 1px #0F171F;
    color: #0F171F;

}
.container{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    flex-wrap: wrap;
    gap: 200px;
}
.to_do{
    width:  256px;
    height: 265px;
    background-color: #D9EAFD;
    border-radius: 36px;
    padding: 15px;
    

}
.to_do h4{
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    color: #0F171F;
    -webkit-text-stroke: 1px #0F171F;
    top:-28px;
    left: 5px;
}
.end_to_do{
    width:  256px;
    height: 363px;
    background-color: #D9EAFD;
    border-radius: 36px;
    padding: 15px;

    
}
.end_to_do h4{
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    color: #0F171F;
    -webkit-text-stroke: 1px #0F171F;
    top:-28px;
    left: 5px;
}

.not_end_to_do{
    width:  256px;
    height: 363px;
    background-color: #D9EAFD;
    border-radius: 36px;
    padding: 15px;

    
}
.not_end_to_do h4{
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    color: #0F171F;
    -webkit-text-stroke: 1px #0F171F;
    top:-28px;
    left: 5px;
}